/*---- flow ----*/
.flow {
  background-color: rgba(252, 249, 243, 0.6);
  height: 2730px;
  .flow_title {
    text-align: center;
    background-color: #fff;
    .title_main {
      position: relative;
      font-family: "Yu Mincho", "YuMincho";
      font-size: 45px;
      line-height: 59px;
      //border-bottom: 3px solid #9f9a9b;
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 0px;
      height: 100px;
      width: 400px;
      border-radius: 400px 400px 0 0;
      background-color: rgba(252, 249, 243, 0.6);
      &:before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0px;
        display: inline-block;
        width: 200px;
        height: 3px;
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translate(-50%);
        background-color: #9f9a9b;
      }
    }
  }
  .flow_disc_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 95px;
    margin-bottom: 130px;
    .flow_disc01 {
      text-align: center;
      .title {
        font-size: 30px;
        font-weight: bold;
        color: #efb090;
        font-size: 50px;
        line-height: 59px;
        letter-spacing: 0.1em;
        margin-top: 90px;
        .number {
          font-size: 80px;
          padding-left: 20px;
        }
        .words {
          font-size: 60px;
        }
        &::before {
          content: "";
          display: inline-block;
          width: 26px;
          height: 30px;
          transform: rotate(150deg);
          border-right: 6px solid #81d8d0;
          position: relative;
          top: 20px;
        }
        &::after {
          content: "";
          display: inline-block;
          width: 26px;
          height: 30px;
          transform: rotate(-150deg);
          border-left: 6px solid #81d8d0;
          position: relative;
          top: 16px;
        }
      }
      .title_sub {
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 0.1em;
        margin-top: 60px;
      }
      .img {
        margin-top: 36px;
      }
      .flow_detail {
      }
    }
    .flow_disk02 {
      .contents {
        margin-left: 65px;
      }
      .steps {
        display: flex;
        text-align: center;
        position: relative;
        width: 620px;
        margin: 0 auto 50px;
        padding: 20px;
        background: #fff;
        text-align: center;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        border-radius: 10px;

        & :before {
          content: "";
          position: absolute;
          bottom: -26px;
          left: 50%;
          margin-left: -10px;
          width: 52px;
          height: 52px;
          transform: rotate(45deg);
          background: linear-gradient(
            -45deg,
            #81d8d0 0%,
            #81d8d0 50%,
            #fff 50%,
            #fff 100%
          );
          box-shadow: 3px 0px 0px rgba(0, 0, 0, 0.3);
          border: none;
        }
      }
      .step {
        display: flex;
        text-align: center;
        position: relative;
        width: 620px;
        margin: 0 auto 40px;
        padding: 20px;
        background: #fff;
        text-align: center;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
      }
      .text {
        font-size: 20px;
        line-height: 45px;
        letter-spacing: 0.1em;
        text-align: left;
        padding-left: 30px;
      }
    }
  }
}
